{% extends "base.html" %}


{% block content %}

{% if not request.user.is_authenticated %}
    <div style='margin-top:30px;'>
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <div style='margin-top:12px;'>
            <button type='submit'>Login</button>
            </div>
        </form>
        <p>Don't have an account? <a href='/register'>Register</a></p>
    </div>

{% else %}
<p> you are already logged in, do you want to <a href='/logout/'>logout?</a> </p>
{% endif %}

{% endblock content %}